@-ms-viewport {
  width: device-width;
}

:root {
  --colour-highlight-primary: #6b00b7;
  --colour-highlight-secondary: #f02200;
  --colour-primary: #fafafa;
  --colour-secondary: #454545;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-highlight-primary: #be64ff;
    --colour-highlight-secondary: #00ffff;
    --colour-primary: #303030;
    --colour-secondary: #fafafa;
  }
}

body {
  background-color: var(--colour-primary);
  color: var(--colour-secondary);
}

a {
  color: var(--colour-highlight-primary);
}

a:visited {
  color: var(--colour-highlight-secondary);
}
