:host {
  border-bottom: 1px solid var(--highlight-colour);
  display: block;
  padding: 1% 0;
  z-index: 0;
}

::slotted([slot='detail']) {
  border: none;
  font-size: var(--detail-summary-font-size, 1rem);
  height: 0;
  overflow: scroll;
  padding: 0 5%;

  transition-property: height;
  transition-duration: 500ms;
}

::slotted([slot='icon']) {
  background-color: transparent;
  border: none;
  color: var(--highlight-colour, transparent);
  font-size: var(--detail-summary-icon-size, 1rem);
  height: calc(var(--detail-summary-icon-size, 1rem) * 2);
  line-height: calc(var(--detail-summary-icon-size, 1rem) * 2);
  margin: auto;
  width: calc(var(--detail-summary-icon-size, 1rem) * 2);

  transform: rotate(0deg);
  transition-duration: 500ms;
  transition-property: transform;
}

::slotted([slot='summary']) {
  font-size: var(--detail-summary-font-size, 1rem);
  line-height: calc(var(--detail-summary-icon-size, 1rem) * 2);
  width: 95%;
}

:host([expanded]) ::slotted([slot='detail']) {
  height: 100%;
}

:host([expanded]) ::slotted([slot='icon']) {
  transition-property: transform;
  transition-duration: 500ms;
  transform: rotate(90deg);
}

@supports (display: flex) {
  ::slotted([slot='icon']) {
    flex: 5%;
  }

  ::slotted([slot='summary']) {
    flex: 95%;
  }
}

@supports (display: grid) {
  :host {
    display: grid;
    grid-gap: 1%;
    grid-template-areas:
      'icon   summary'
      'detail detail';
    grid-template-columns: min-content 1fr;
  }

  ::slotted([slot='icon']) {
    grid-area: icon;
  }

  ::slotted([slot='summary']) {
    grid-area: summary;
  }

  ::slotted([slot='detail']) {
    grid-area: detail;
  }
}
