@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-colour: white;
  --fg-colour: black;
}

body {
  margin: 0;

  color: var(--fg-colour);
  background-color: var(--bg-colour);

  font-family: Operator Mono SSm, Hack, -apple-system, Helvetica Neue, Arial;
  font-size: 17px;
  font-weight: lighter;
}

header {
  display: flex;

  flex-wrap: wrap;
}

header h1 {
  text-align: center;
}

header h1,
header h2 {
  flex: 85%;
}

header .company,
header .dates,
header .position {
  margin: 0;

  text-align: inherit;

  flex: 1;
}

header .details {
  height: 120px;
  margin: auto;

  text-align: center;
}

header .logo {
  width: 100%;
  margin: 0 auto;

  color: var(--fg-colour);

  fill: currentcolor;
}

header object.logo {
  width: 50%;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin: 0.5rem;

  color: yellowgreen;

  font-size: 2rem;
}

pre {
  white-space: inherit;

  font-family: inherit;
  font-weight: inherit;
}

section {
  border-top: 1px solid hotpink;
}

.accept {
  margin: 5px;

  color: white;
  border: 0;
  border-radius: 5px;
  background-color: black;
}

.about,
.interest,
.reference {
  display: flex;

  margin: 0 20px;
}

.colours,
.colours .selection {
  visibility: hidden;
}

.cookies {
  display: flex;

  width: 100vw;

  background-color: rgba(255, 105, 180, 0.25);
}

.experience {
  display: flex;
}

.experience:not(:last-of-type) {
  border-bottom: 1px solid aquamarine;
}

.experience header,
.experience pre {
  margin: 0 20px;
}

.experience header {
  flex-direction: column;

  flex: 1;
}

.experience pre {
  padding: 20px 0;

  flex: 1;
}

.hide {
  border: 0;
  background-color: transparent;
}

.hide::after {
  content: "	🚀";
}

.hide::before {
  content: "hide";

  color: transparent;
}

.hide:hover::before,
.hide:focus::before {
  color: black;
}

.intro {
  display: flex;

  width: 95%;
  margin: 0;
  padding: 10px;

  flex-wrap: wrap;
}

.intro span {
  margin-right: 10px;

  background-color: transparent;
}

.intro span:not([class=""]):first-of-type,
.intro span[class=""] + span:not([class=""]) {
  background-color: rgba(153, 205, 50, 0.25);
}

.list {
  display: flex;
  flex-direction: row;
}

.list ul {
  margin: 0 0 1rem 0;

  list-style: none;

  text-indent: 1.5rem;
}

.list li::before {
  content: "➜		";

  color: hotpink;

  font-size: 0.8rem;
}

.list li li::before {
  content: "•		";
}

@supports (--foo: green) {
  .colours {
    visibility: visible;

    margin: auto 0;
    padding: 0;

    list-style: none;

    flex: 15%;
  }

  .colours li:first-child {
    text-decoration: underline;

    font-size: 0.8rem;
  }

  .colours .selection::before {
    content: attr(data-bg-colour);
  }

  .colours .selection {
    color: var(--fg-colour);
    border: none;
    outline: none;
    background-color: transparent;
  }
}
