article {
  padding-block: 2rem;
  padding-inline: 1rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > a {
      margin: auto;
    }

    dl {
      align-items: center;
      display: grid;
      gap: 0 0.5rem;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      margin-block: unset;

      dd {
        color: var(--colour-highlight-primary);

        &:after {
          content: ":";
        }
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2vb 2vi;
    justify-content: center;
    margin: unset;
    padding: unset;
  }
}

body {
  margin: unset;

  > header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: clip;
    padding-block: 1rem;
    text-align: center;

    div {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      a {
        align-items: center;
        display: flex;
      }
    }

    h1 {
      margin: unset;
    }
  }
}

p {
  font-size: 0.9rem;

  &:first-of-type {
    margin-block-start: 2rem;
  }

  &:last-of-type {
    margin-block-end: 2rem;
  }
}

@media screen and (min-width: 737px) {
  article {
    padding-inline: calc(100% - 85vi);

    header {
      align-items: start;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        margin: unset;
      }

      dl {
        align-items: center;
        display: grid;
        gap: 0 1rem;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
      }
    }
  }

  body {
    > header {
      a {
        gap: 1rem;
      }
    }
  }
}
