address {
  max-width: 16ch;
}

aside {
  grid-area: sidebar;
}

body {
  margin: unset;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  overflow: hidden;
}

footer > a {
  align-items: center;
  display: flex;
}

h1 {
  text-align: center;
}

header {
  overflow: hidden;
}

main {
  margin-block: 2rem;
  overflow: clip;
  overflow: scroll;
  padding-inline: clamp(
    calc((100vw - 60ch) / 2),
    12.5vw,
    calc((100vw - 320px) / 2)
  );
  scroll-snap-type: y mandatory;
}

article > ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
  justify-items: center;
  padding: unset;
}

article > header {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

article > header > a {
  justify-self: center;
}

article > header > h2,
article > header > h3,
article > header > h4 {
  margin: unset;
}

article > svg {
  height: 5rem;
  margin: 2.5rem auto;
  width: auto;
}

@media screen and (min-width: 737px) {
  body {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: minmax(3rem, auto) 1fr minmax(3rem, auto);
  }

  footer {
    grid-area: footer;
  }

  footer > a {
    gap: 1rem;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    justify-self: center;
  }

  article {
    scroll-snap-align: start;
  }

  article > header {
    align-items: center;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: max-content auto auto;
    grid-template-rows: repeat(2, 1fr);
  }

  article > header > a {
    grid-row: span 2;
  }

  article > header > h2 {
    grid-column: 2;
    grid-row: 1;
    margin: unset;
  }

  article > header > h3 {
    grid-column: 3;
    grid-row: 1;
    margin: unset;
  }

  article > header > h4 {
    grid-column: 2/4;
    grid-row: 2;
    margin: unset;
  }
}
