:root {
	--bg-colour: white;
	--fg-colour: black;
}

body {
	background-color: var(--bg-colour);
	color: var(--fg-colour);
	font-family: "Chronicle Hairline Cond A", "Chronicle Hairline Cond B", -apple-system, Helvetica Neue, Arial;
	font-style: italic;
	font-weight: 400;
	margin: 4px;
}

a {
	font-style: initial;
	font-weight: initial;
}

@-ms-viewport {
	width: device-width;
}
