:root {
  --colour-highlight-primary: #ff6700;
  --colour-highlight-secondary: #0098ff;
  --colour-primary: #fafafa;
  --colour-secondary: #454545;

  --timing-fast: 0.125s;
  --timing-slow: 1s;

  font-family: -system-ui, sans-serif;
  font-size: 1.25em;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --colour-primary: #303030;
    --colour-secondary: #fafafa;
  }
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --colour-highlight-secondary: color(display-p3 0 0.75 1);
  }
}

:any-link {
  color: var(--colour-highlight-primary);
}

:any-link:visited {
  color: var(--colour-highlight-secondary);
}

::selection {
  background-color: var(--colour-highlight-primary);
  color: var(--colour-primary);
}

body {
  background-color: var(--colour-primary);
  caret-color: var(--colour-highlight-primary);
  color: var(--colour-secondary);
}

body > header {
  background-color: var(--colour-highlight-primary);
}

h1 {
  color: var(--colour-primary);
}

@media screen and (prefers-color-scheme: dark) {
  h1 {
    color: var(--colour-secondary);
  }
}

h2,
h3 {
  color: var(--colour-highlight-primary);
}

footer > a > :is(address, span) {
  opacity: 0;
  width: 0;
}

section > ul {
  list-style: none;
}

section > ul > li > a {
  text-decoration: none;
}

section > svg {
  color: var(--colour-highlight-primary);
}

@media screen and (min-width: 567px) {
  footer > a > :is(address, span) {
    opacity: 1;
    width: auto;
  }
}
