:root {
  --color-primary: oklch(0.3 0.09 199 / 1);
  --color-primary-contrast: oklch(0.98 0.05 99.5);
  --color-primary-highlight: oklch(0.65 0.3 29 / 1);

  --color-secondary: oklch(0.9 0.04 251 / 1);
  --color-secondary-contrast: oklch(0.1 0.07 25.5 / 1);
  --color-secondary-highlight: oklch(0.6 0.22 249 / 1);

  font-family: -system-ui, sans-serif;
  font-size: 1.25em;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-primary: oklch(0.9 0.04 251 / 1);
    --color-primary-contrast: oklch(0.1 0.07 25.5 / 1);
    --color-primary-highlight: oklch(0.6 0.22 249 / 1);

    --color-secondary: oklch(0.3 0.09 199 / 1);
    --color-secondary-contrast: oklch(0.98 0.05 99.5);
    --color-secondary-highlight: oklch(0.65 0.3 29 / 1);
  }
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrast);
}

:any-link {
  color: currentColor;
  text-decoration-color: var(--color-secondary-highlight);
  text-decoration-thickness: 15%;
  text-underline-offset: 0.125rem;
  text-underline-offset: 15%;

  &:visited {
    text-decoration-color: var(--color-primary-highlight);
  }
}

article {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);

  dt {
    font-style: italic;
  }

  ul {
    list-style: none;
  }

  &:nth-of-type(odd) {
    --color-primary: oklch(0.9 0.04 251 / 1);
    --color-primary-contrast: oklch(0.1 0.07 25.5 / 1);

    --color-secondary: oklch(0.3 0.09 199 / 1);
    --color-secondary-contrast: oklch(0.98 0.05 99.5);
  }

  @media screen and (prefers-color-scheme: dark) {
    &:nth-of-type(odd) {
      --color-primary: oklch(0.3 0.09 199 / 1);
      --color-primary-contrast: oklch(0.98 0.05 99.5);

      --color-secondary: oklch(0.9 0.04 251 / 1);
      --color-secondary-contrast: oklch(0.1 0.07 25.5 / 1);
    }
  }
}

body {
  background-color: var(--color-primary);
  caret-color: var(--color-highlight-primary);
  color: var(--color-primary-contrast);

  :is(address, span) {
    font-style: normal;
    pointer-events: none;
    opacity: 0;
    width: 0;
  }
}

@media screen and (min-width: 737px) {
  body {
    :is(address, span) {
      opacity: 1;
      pointer-events: initial;
      width: auto;
    }
  }
}
