@-ms-viewport {
  width: device-width;
}

@media(min-width: 320px) {
  footer.ribbon,
  header.ribbon {
  display: none;
  }

  .content {
  width: 100%;
  }

  .content > header {
  color: white
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  }

  .content > header img {
  display: none;
  }

  .map {
  height: 200px;
  margin: 5% auto;
  }
}

@media(min-width: 768px) {
  section > header {
  display: flex;
  float: left;
  flex-direction: column;

  width: 300px;
  height: 300px;

  shape-outside: circle(50%);
  }

  header.ribbon {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  display: initial;
  overflow: hidden;

  width: 500px;
  height: 500px;
  }

  header.ribbon img {
  position: absolute;
  z-index: -1;

  width: 50%;

  transform: scale(-1, 1) rotate(60deg) translate(6%, -76%);
  transform-origin: center;
  }

  footer.ribbon {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;

  display: initial;
  overflow: hidden;

  width: 500px;
  height: 500px;
  }

  footer.ribbon img {
  position: absolute;
  z-index: -1;

  width: 50%;

  transform: translate(163%, 138%) rotate(35deg);
  transform-origin: center;
  }

  .content > header {
  color: black;
  background-image: none;
  }

  .content > header img {
  display: initial;

  margin: 0 25%;
  }

  .content {
  width: 50%;
  margin-left: 25%;
  }

  .calendar {
  margin: 5% 0;

  align-self: flex-end;
  }

  .map {
  width: 85%;
  margin: auto 0;
  }

  .segment:nth-child(even) {
  float: left;
  }

  .segment:nth-child(odd) {
  float: right;
  }
}

* {
  box-sizing: border-box;

  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: white;

  font-family: "Chronicle Hairline Cond A", "Chronicle Hairline Cond B", -apple-system, Helvetica Neue, Arial;
  font-style: italic;
}

h1, h2 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;

  background-color: white;
}

.segment {
  overflow: hidden;

  padding: 10px;
}
